@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Causten&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-card-height {
  height: 400px; /* Adjust as needed */
}

.custom-card-image {
  width: 100%;
  height: auto;
}

.carouselContainer {
  position: relative;
  max-width: 100%;
  max-height: 300px; /* Set the maximum height for the carousel */
  margin: 0 auto;
}

.carousel {
  max-height: 100%; /* Limit the height of the carousel content */
}

.button {
  position: absolute;
  bottom: 10px;
  left: 50%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust for button width */
}

.label-title {
  text-transform: capitalize;
}

/* @layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
} */
