.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1.1);
}

.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
}

.carousel-indicator.active {
  background-color: #000;
}
